<h1><%= name_app %></h1>

<h2><%= welcome_message %>, <%= @nome || "Visitante" %>!</h2>

<p><strong>Data: </strong><%= dataBR(Date.today) %></p>

<p>Aqui você pode criar e gerenciar suas próprias moedas digitais.</p>

<%= render 'menu' %>

<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>

<h4><%= anoBR(Date.today) %>® - <%= @curso %></h4>